
@using MvcCodeFlowClientManual.Models
@model List<SalesOrder>

@{
    ViewBag.Title = "Home Page";

}

<div class="row flex-column text-center flex-md-row align-items-md-center justify-content-md-between mb-4">
    <div class="col text-md-left">
        <h1 class="text-uppercase mb-3 mb-md-0">Sales Order</h1>
    </div>
    <div class="col create-sales-order-cta text-md-right">
        <form method="get" action="@Url.Action("GetItems", "Item")">
            <button type="button" id="modal-btn" class="btn btn-primary text-uppercase" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Item</button>
        </form>
    </div>
</div>
<div class="row flex-column flex-md-row justify-content-md-between py-4 | box transaction-info">
    <div class="col mb-3 mb-md-0">
        <form>
            <label for="date" class="form-label">Transaction Date</label>
            <input type="date" class="form-control" id="date">
        </form>
    </div>
    <div class="col">
        <form method="get" action="@Url.Action("GetCustomerJobs", "Customer")">
            <div id="customerJobsList">
                <label for="customerName" class="form-label">Select Customer Job</label>

                <select id="customerName" class="form-select form-control customer-list" aria-label="customer jobs list">
                    <option selected value="Select">Select</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="transaction-container">
    <div class="row justify-content-between align-items-center">
        <div class="col">
            @{ string itemStr = "item";
                if (Model.Count > 1) { itemStr = "items"; }
            }
            <p class="font-weight-bold text-uppercase m-0 | pending-order-text">Pending Order <span class="font-weight-light text-lowercase">(@Model.Count @itemStr)</span></p>
        </div>
        <div class="col customerId-container">
            <form>
                <label for="customerId" class="form-label" hidden>Customer ID</label>
                <input type="text" class="form-control" id="customerId" placeholder="Customer ID" readonly>
            </form>
        </div>
    </div>
    <!-- Modal -->

    @Html.Partial("_AddItemModal")

    <div id="salesOrderContainer">
        @if (Model != null && Model.Count > 0)
        {
            <div class="table-responsive mt-5 | table-container box">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Item</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 0;}
                        @foreach (var order in Model)
                        {
                            count++;
                            <tr id="@order.OrderId">
                                <th class="item-index" scope="row">@count.</th>
                                <td>@order.ItemName</td>
                                <td>@order.Description</td>
                                <td>@order.Quantity</td>
                                <td>@order.Amount</td>
                                <td>@order.Rate</td>
                                <td class="actions-col">
                                    <div class="action-btns">
                                        <a onclick="editSalesOrderItem('@order.OrderId')" class="edit-btn" data-id="@order.OrderId">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="delete-btn" onclick="deleteSalesOrderItem('@order.OrderId')" data-id="@order.OrderId">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (Model != null && Model.Count > 0)
        {
            <div class="row justify-content-between mt-5">
                <div class="col submit-order-form-container">
                    <form method="post">
                        <button class="btn btn-primary">Submit Order</button>
                    </form>
                </div>
                <div class="col clear-all-form-container">
                    <form method="post" action="@Url.Action("ClearOrders", "SalesOrder")">
                        <button class="btn btn-danger">Clear All</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<script>
    const customerIdInput = document.getElementById("customerId");
    const customerNameInput = document.getElementById("customerName")

    function modalToggle() {
        $("#modal-btn").click(function () {
            $("#staticBackdrop").modal('show');
        });
    }

    async function getCustomerJobs(jobsListContainer) {
        try {
            const fetchUrl = fetch("/Customer/GetCustomerJobs");
            const response = await fetchUrl;
            const result = await response.json();

            if (result.length > 0) {
                //const customerJobs = result.map(customerJob => `<option>${customerJob.Name}</option>`);
                result.map(customerJob => {
                    if (customerJob.Locations.length > 0) {
                        const optgroupEl = document.createElement("optgroup")
                        optgroupEl.label = customerJob.Name

                        let optionEl = document.createElement("option")
                        optionEl.text = customerJob.Name

                        optgroupEl.append(optionEl)

                        const locations = customerJob.Locations;
                        locations.map(location => {
                            optionEl = document.createElement("option")
                            optionEl.text = `${customerJob.Name}: ${location}`
                            optgroupEl.append(optionEl)

                        });
                        jobsListContainer.querySelector(".customer-list").appendChild(optgroupEl)

                    } else {
                        const optionEl = document.createElement("option")
                        optionEl.text = customerJob.Name
                        jobsListContainer.querySelector(".customer-list").appendChild(optionEl)

                    }

                });

                getCustomerId(result)
                //jobsListContainer.querySelector(".customer-list").innerHTML += customerJobs.join("")
            } else {
                jobsListContainer.innerHTML = `<p>There are no customer jobs. Add new customer jobs to your QuickBooks company file and then try again</p>`
            }
        }
        catch (error) {
            jobsListContainer.innerHTML = `<p>Error fecting customer jobs. Please try again.</p>`
            console.log("Error fetching customer jobs: ", error);
        }
        return jobsListContainer;
    }

    function getCustomerId(customerJobs) {
        customerNameInput.addEventListener("change", (e) => {
            if (e.target.value == "Select")
                customerIdInput.value = "";
                customerJobs.filter(customerJob => {
                    if (customerJob.Name == e.target.value) {
                    customerIdInput.value = customerJob.CustomerListID;
                    }
            });

        });
    }

    async function getItems() {
        try {
            const fetchUrl = fetch("/Item/GetItems");
            const response = await fetchUrl;
            const result = await response.json();

            return result
        }
        catch (error) {
            //itemsContainer.innerHTML = `<p>Error fecting items. Please try again.</p>`
            console.log("Error fetching items: ", error);
        }
    }

    async function editSalesOrderItem(orderId) {

        try {
            const response = await fetch(`/SalesOrder/GetItemOrderById/${orderId}`);

            if (!response.ok) {
                throw new Error(`Error fetching item: ${response.statusText}`);
            }

            const result = await response.json();
            //console.log(result)

            if (result != null) {
                const itemOrder = await result;
                updateModalContentHTML(itemOrder);
            }

            //return result;
        } catch (error) {
            console.error('Error fetching item:', error);

            alert('An error occurred while retrieving item details. Please try again later.');
        }
    }

    function updateModalContentHTML(itemOrder) {
        const modalContent = $("#staticBackdrop .modal-content");
        modalContent.empty();
        const form = `
                    <form method="post" action="@Url.Action("UpdateOrder", "SalesOrder")">
              <div class="modal-header">
                  <input type="hidden" name="OrderId" value="${itemOrder.OrderId}"/>
                  <h5 class="modal-title" id="staticBackdropLabel">Edit order info</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
              </div>
              <div class="modal-body">
                  <div class="col mb-3">
                      <label for="item" class="form-label">Item</label>
                      <div id="itemsContainer">
                          <select class="form-select mb-3 items-list" aria-label="items list" name="ItemName">
                              <option selected>${itemOrder.ItemName}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col mb-3">
                      <label for="desc" class="form-label">Description</label>
                      <input name="Description" type="text" class="form-control" id="desc" value=${itemOrder.Description} />
                  </div>
                  <div class="col mb-3">
                      <label for="qty" class="form-label">Quantity</label>
                      <input name="Quantity" type="text" class="form-control" id="qty" value=${itemOrder.Quantity} />
                  </div>
                  <div class="col mb-3">
                      <label for="amt" class="form-label">Amount</label>
                      <input name="Amount" type="text" class="form-control" id="amt" value=${itemOrder.Amount} />
                  </div>
                  <div class="col mb-3">
                      <label for="rate" class="form-label">Rate</label>
                      <input name="Rate" type="text" class="form-control" id="rate" value=${itemOrder.Rate} />
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
          </form>
`;
        modalContent.append(form);
        $("#staticBackdrop").modal('show');
    }

    async function deleteSalesOrderItem(id) {
        try {
            const response = await fetch(`/SalesOrder/DeleteItem/${id}`, {
                method: "Post"
            })
            if (!response.ok) {
                throw new Error(`Error deleting item: ${response.statusText}`)
            }
            const result = await response.json();
            console.log(result)
            let el
            if (result) {
                el = document.getElementById(result.deleteItem)
                el.remove()
            }

        } catch (error) {
            console.error('Error during deletion:', error);
        }

    }

    function addItemToHTMLDropdown() {
        const itemsContainer = document.getElementById("items-container");
        const categoriesContainer = itemsContainer.querySelector("#category");
        const itemsArr = getItems();

        let clickedFirst = "";

        categoriesContainer.addEventListener("change", (e) => {

            clickedFirst = "category dropdown";

            itemsContainer.querySelector(".items-list").innerHTML = `<option>Select</option>`;

            if (e.target.value != "Select") {
                itemsArr.then(result => {
                    for (const items in result) {
                        result[items].filter(item => {
                            if (item.Category == e.target.value) {
                                let optionEl = `<option>${item.Name}</option>`
                                itemsContainer.querySelector(".items-list").innerHTML += optionEl;
                            }
                        });
                    }
                });
            }
        });
    }

    function addItemCategoryToHTMLDropdown() {
        const itemsContainer = document.getElementById("items-container");
        const categoriesContainer = itemsContainer.querySelector("#category");

        const categoriesArr = ["Service", "Inventory", "Non Inventory", "Inventory Assembly", "Fixed Asset", "Discount", "Payment", "Sales Tax", "Sales Tax Group", "Group", "SubTotal", "Other Charge"];

        const categoryEl = categoriesArr.map(category => `<option>${category}</option>`);
        categoriesContainer.innerHTML += categoryEl.join("");
    }

    $(document).ready(function () {
        const jobsListContainer = document.getElementById("customerJobsList");
        //modal to add new item
        modalToggle();
        getCustomerJobs(jobsListContainer);

        addItemCategoryToHTMLDropdown();
        addItemToHTMLDropdown()
    });
</script>
